$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import './lib/bourbon/bourbon';

/**
 * App-wide Styles
 */

html, body {
  height: 100%;
}

[ui-view] {
  height: 100%;
}

.padding {
  padding: 10px;
}

.fill-parent {
  @include display(flex);
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'analysis/analysis.scss';
@import 'detailedAnalysis/detailedAnalysis.scss';
@import 'lib/_var.scss';
@import 'lib/bourbon/_bourbon-deprecated-upcoming.scss';
@import 'lib/bourbon/_bourbon.scss';
@import 'lib/bourbon/addons/_border-color.scss';
@import 'lib/bourbon/addons/_border-radius.scss';
@import 'lib/bourbon/addons/_border-style.scss';
@import 'lib/bourbon/addons/_border-width.scss';
@import 'lib/bourbon/addons/_buttons.scss';
@import 'lib/bourbon/addons/_clearfix.scss';
@import 'lib/bourbon/addons/_ellipsis.scss';
@import 'lib/bourbon/addons/_font-stacks.scss';
@import 'lib/bourbon/addons/_hide-text.scss';
@import 'lib/bourbon/addons/_margin.scss';
@import 'lib/bourbon/addons/_padding.scss';
@import 'lib/bourbon/addons/_position.scss';
@import 'lib/bourbon/addons/_prefixer.scss';
@import 'lib/bourbon/addons/_retina-image.scss';
@import 'lib/bourbon/addons/_size.scss';
@import 'lib/bourbon/addons/_text-inputs.scss';
@import 'lib/bourbon/addons/_timing-functions.scss';
@import 'lib/bourbon/addons/_triangle.scss';
@import 'lib/bourbon/addons/_word-wrap.scss';
@import 'lib/bourbon/css3/_animation.scss';
@import 'lib/bourbon/css3/_appearance.scss';
@import 'lib/bourbon/css3/_backface-visibility.scss';
@import 'lib/bourbon/css3/_background-image.scss';
@import 'lib/bourbon/css3/_background.scss';
@import 'lib/bourbon/css3/_border-image.scss';
@import 'lib/bourbon/css3/_calc.scss';
@import 'lib/bourbon/css3/_columns.scss';
@import 'lib/bourbon/css3/_filter.scss';
@import 'lib/bourbon/css3/_flex-box.scss';
@import 'lib/bourbon/css3/_font-face.scss';
@import 'lib/bourbon/css3/_font-feature-settings.scss';
@import 'lib/bourbon/css3/_hidpi-media-query.scss';
@import 'lib/bourbon/css3/_hyphens.scss';
@import 'lib/bourbon/css3/_image-rendering.scss';
@import 'lib/bourbon/css3/_keyframes.scss';
@import 'lib/bourbon/css3/_linear-gradient.scss';
@import 'lib/bourbon/css3/_perspective.scss';
@import 'lib/bourbon/css3/_placeholder.scss';
@import 'lib/bourbon/css3/_radial-gradient.scss';
@import 'lib/bourbon/css3/_selection.scss';
@import 'lib/bourbon/css3/_text-decoration.scss';
@import 'lib/bourbon/css3/_transform.scss';
@import 'lib/bourbon/css3/_transition.scss';
@import 'lib/bourbon/css3/_user-select.scss';
@import 'lib/bourbon/functions/_assign-inputs.scss';
@import 'lib/bourbon/functions/_contains-falsy.scss';
@import 'lib/bourbon/functions/_contains.scss';
@import 'lib/bourbon/functions/_is-length.scss';
@import 'lib/bourbon/functions/_is-light.scss';
@import 'lib/bourbon/functions/_is-number.scss';
@import 'lib/bourbon/functions/_is-size.scss';
@import 'lib/bourbon/functions/_modular-scale.scss';
@import 'lib/bourbon/functions/_px-to-em.scss';
@import 'lib/bourbon/functions/_px-to-rem.scss';
@import 'lib/bourbon/functions/_shade.scss';
@import 'lib/bourbon/functions/_strip-units.scss';
@import 'lib/bourbon/functions/_tint.scss';
@import 'lib/bourbon/functions/_transition-property-name.scss';
@import 'lib/bourbon/functions/_unpack.scss';
@import 'lib/bourbon/helpers/_convert-units.scss';
@import 'lib/bourbon/helpers/_directional-values.scss';
@import 'lib/bourbon/helpers/_font-source-declaration.scss';
@import 'lib/bourbon/helpers/_gradient-positions-parser.scss';
@import 'lib/bourbon/helpers/_linear-angle-parser.scss';
@import 'lib/bourbon/helpers/_linear-gradient-parser.scss';
@import 'lib/bourbon/helpers/_linear-positions-parser.scss';
@import 'lib/bourbon/helpers/_linear-side-corner-parser.scss';
@import 'lib/bourbon/helpers/_radial-arg-parser.scss';
@import 'lib/bourbon/helpers/_radial-gradient-parser.scss';
@import 'lib/bourbon/helpers/_radial-positions-parser.scss';
@import 'lib/bourbon/helpers/_render-gradients.scss';
@import 'lib/bourbon/helpers/_shape-size-stripper.scss';
@import 'lib/bourbon/helpers/_str-to-num.scss';
@import 'lib/bourbon/settings/_asset-pipeline.scss';
@import 'lib/bourbon/settings/_prefixer.scss';
@import 'lib/bourbon/settings/_px-to-em.scss';
@import 'main/main.scss';
@import 'oneVsOne/oneVsOne.scss';
@import 'practice/practice.scss';
@import '../components/footer/footer.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
