analysis {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  padding: 10%;
  background: url('/assets/images/bg.png') no-repeat center;
  background-size: cover;

  > p {
    margin-bottom: 50px;
    margin-top: -50px;
  }

  .category {
    //color: $primary-color;
  }

  a {
    color: #FFF;
  }

  .fa {
    margin-right: 10px;
    font-size: 2rem;
    margin-top: 10px;
  }

  .logo {
    width: 50%;
    max-width: 300px;
    margin-bottom: 50px;
    margin-top: -50px;
  }

  .btn {
    @include linear-gradient(#F7600E, #FFA84C);
    border: 3px solid #FFF;
  }
}
