<p class="text-center text-light">
  Your brain is in great condition for <span class="category">Science</span> in the morning from 10:00 to 12:00.<br>
  Use this time to study <span class="category">Science</span> subjects.<br><br>
  You have a great <span class="category">Memory Retrival</span> at night from 20:00 to 22:00.<br>
  Use this time to practice a new language.<br><br>
  Our recommendation:<br>
  <a target="_blank" href="http://www.amazon.com/Brief-History-Time-Stephen-Hawking/dp/0553380168/ref=sr_1_1?ie=UTF8&qid=1458455904&sr=8-1">
    <i class="fa fa-book fa-lg"></i>
  </a>
  <a target="_blank" href="https://www.youtube.com/watch?v=jjy-eqWM38g">
    <i class="fa fa-youtube fa-lg"></i>
  </a>
</p>

<button
  class="btn btn-block btn-lg btn-primary"
  ng-click="$root.navigateTo('generalAnalysis')">
  General
</button>

<button
  class="btn btn-block btn-lg btn-success"
  ng-click="$root.navigateTo('detailedAnalysis')">
  Detailed
</button>

