one-vs-one {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  height: 100%;

  h3 {
    color: #888;
  }

  .score {
    padding: 10px;
    background-color: #283593;
    color: #FFF;
    text-align: center;
    font-weight: bold;
  }

  > .fill-parent {
    @include flex-direction(column);
  }

  .question {
    @include flex(1);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);

    img {
      max-width: 100%;
    }
  }

  .result {
    @include flex(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
  }

  .answer-list {
    @include display(flex);
    @include flex-wrap(wrap);

    &-item {
      width: 50%;
      padding: 20px 10px;
      text-align: center;
      border: 1px solid #DDD;
      cursor: pointer;

      &:nth-child(2n) {
        border-left: none;
      }

      &:nth-child(1), &:nth-child(2) {
        border-bottom: none;
      }
    }
  }
}
